*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.header-contener{
    display: flex;
    height:100vh;
    background-color:rgba(229, 84, 115, 0.10);
    justify-content: space-evenly;
    align-items: center;
}
.header-title-div{

}
.title{
    font-size: 65px;
    color: #272727;
    font-weight: 800;
}
.description{
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
    padding: 30px 0;
    line-height: 25px;
}

.btn{
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border:none;
    color: white;
}
.header-img-div>img{
    height: 630px;
  margin-top: 67px;
    
}